<div class="row row-ms px-3 mx-1 mb-3 m-lg-3 p-lg-3 mb-lg-5">
  <p class="display-3">Proyectos Realizados</p>
  <div class="col-12 p-lg-3">
    <button type="button" class="btn btn-outline-secondary rounded-circle btn-lg mb-3" id="btn-nuevo" (click)="open(content)"
      *ngIf="isLogged">
      <i class="fa-sharp fa-solid fa-plus"></i>
    </button>
  </div>

  <div class="col-12" *ngFor="let proyecto of proyectos">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{proyecto.imgP}}" class="img-fluid rounded-start h-100" alt="Imagen de proyecto">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title display-5">{{proyecto.nombreP}}</h5>
            <p class="card-text lead">{{proyecto.descripcionP}}</p>
            <p class="card-text"><small class="text-muted font-weight-light">{{proyecto.fecha | date: 'dd/MM/yyyy'}}</small></p>
            <a href="{{proyecto.urlP}}" class="btn btn-outline-secondary m-1 rounded-circle" target="_blank"><i class="fa-brands fa-github"></i></a>
            <button class="btn btn-outline-secondary m-1 rounded-circle" (click)="update(content, proyecto.id)"
              id="btn-editar" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></button>
            <button class="btn btn-outline-secondary m-1 rounded-circle" id="btn-borrar" (click)="delete(proyecto.id)"
              *ngIf="isLogged"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>






<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar proyecto</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form novalidate #f="ngForm">
      <div class="form-group">

        <label for="tituloProyect">Nombre del proyecto</label>
        <input type="text" class="form-control" id="tituloProyect" name="tituloProyect" [(ngModel)]="nombreP" required>

        <label for="urlProyecto">Url del proyecto</label>
        <input type="text" class="form-control" id="urlProyecto" name="urlProyecto" [(ngModel)]="urlP">

        <label for="descripcionProyect">Descripcion</label>
        <textarea id="descripcionProyect" class="form-control" name="descripcionProyect" [(ngModel)]="descripcionP"></textarea>

        <label for="fecha">Fecha</label>
        <input type="date" class="form-control" id="fecha" name="fecha" [(ngModel)]="fecha" required>

        <label for="inputImg">Elegir foto (720 x 400) </label>
        <input id="inputImg" type="file" class="form-control" accept=".png, .jpg, .jepg"
          (change)="cargarImagen($event)">

        <img src={{imgP}} class="form-control" alt="imagenProyect">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" *ngIf="cargando" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" *ngIf="!cargando"
      (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>